@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.bold {
    font-weight: bold;
}

.white {
    color: hsl(0, 0%, 100%);
}

.green {
    color: hsl(75, 94%, 57%);
}

.grey_900 {
    background-color: hsl(0, 0%, 8%);
}

.grey_800 {
    background-color: hsl(0, 0%, 12%);
}

.grey_700 {
    background-color: hsl(0, 0%, 20%);
}

.border_radius_10 {
    border-radius: 10px;
}

p, li {
    font-size: 14px;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: Inter, sans-serif;
}

main {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    width: 325px;
    padding: 30px;
    text-align: center;
}

#card_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar {
    width: 25%;
    border-radius: 100px;
}

#name {
    margin-bottom: 0;
}

#city {
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 25px;
}


#link_list {
    list-style: none;
    padding-left: 0;
}

.link {
    width: 100%;
    margin: 15px 0;
    padding: 15px 0;
}

@media screen and (max-width: 375px) {
    p {
        font-size: 13px;
    }

    #card {
        width: 280px;
        padding: 25px;
    }

    #avatar {
        width: 30%;
    }

    #description {
        margin-bottom: 20px;
    }

    #link_list {
        margin: 0;
    }

    #link_list a:last-child li {
        margin-bottom: 0;
    }

   }
